
.vs/VoidArsenal/FileContentIndex/df82121f-6ed3-473f-9437-47f230eb0d94.vsidx
*.vsidx
*.v2
*.v1
.vs/VoidArsenal/v17/.suo
*.cache
*.editorconfig
*.cache
*.cache
*.editorconfig
*.cache
*.json
*.props
*.json
*.1
*.1
.vs/DevilsWarehouse/v17/.suo
/bin
/obj
